<p id="notice"><%= notice %></p>

<div class='container'>
  <h1>Links</h1>
  <%= link_to 'New Link', new_link_path, class: 'btn btn-success' %>
  <br>
  <br>
  <div class='row'>
    <% @links.each do |link| %>
      <div class='col-md-4 d-flex align-items-center'>
        <div class="card" style="width: 18rem;">
          <img class="card-img-top" src=<%=link.image ||= "https://placeimg.com/400/400/tech" %> alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title"><%= truncate(link.title, :length => 25, :omission => '...') %></h5>
            <p class="card-text"><%= truncate(link.description, :length => 50, :omission => '...') %></p>
            <a href=<%=link.url%> target='_blank' class="btn btn-primary">Go to link</a>
            <%= link_to 'Edit', edit_link_path(link), class: 'btn btn-info btn-xs' %>
            <%= link_to 'Destroy', link, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger btn-xs'%>
          </div>
        </div>
      </div>
    <%end%>
  </div>
</div>